In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [33]:
path_file = 'Klantenbestand2.xlsx'

In [9]:
# column_list = ['A:B', 'D:E']
# column_list = column_list[0]

In [34]:
df = pd.read_excel(path_file)

In [35]:
df

,Unnamed: 0,SharpMinds,Unnamed: 2,HelloFlex,Unnamed: 4,CAOWijzer,Unnamed: 6,MatchQ
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nummer,Naam,Nummer,Naam,Nummer,Naam,Nummer,Naam
2,12556,Actacom Nederland B.V.,110722,@Work Personeelsdiensten B.V.,12152,365Werk,12431,Arto Recruitment B.V.
3,12594,AskAnna B.V.,111481,3S People B.V.,12248,A.W. Personeelsdiensten BV,12578,BC Group B.V.
4,12471,Blauw Belastingen bv,11274,4-Hands Uitzendbureau,12121,A2 Newjob,12334,Building Careers BV
...,...,...,...,...,...,...,...,...
449,NaN,NaN,12667,Q Work B.V.,NaN,NaN,NaN,NaN
450,NaN,NaN,111322,WPN Groep B.V.,NaN,NaN,NaN,NaN
451,NaN,NaN,12716,The Flex Agency B.V.,NaN,NaN,NaN,NaN
452,NaN,NaN,12722,STAN Partnerships B.V.,NaN,NaN,NaN,NaN
453,NaN,NaN,12724,Public Support Services B.V.,NaN,NaN,NaN,NaN

In [18]:
# number of columns in your dataframe
number_of_columns = len(df.columns)

# store the split dataframes in a list
split_dfs = []

# loop over column indexes with step size 2
for i in range(0, number_of_columns, 2):
    split_dfs.append(df.iloc[:, [i,i+1]])

In [23]:
split_dfs = [d.drop(labels=[0,1], axis=0) for d in split_dfs]

In [28]:
split_dfs = [d.dropna() for d in split_dfs]

In [29]:
first_df = split_dfs[0]
first_df.columns.to_list()[1]

'SharpMinds'

In [31]:
for index, row in first_df.iterrows():
    print(row[1])

Actacom Nederland B.V.
AskAnna B.V.
Blauw Belastingen bv
Blue Donkey Media B.V.
BusinessForensics B.V.
Ctrl B.V.
Ecomatters
Freelancer BV
FutureWhiz Media BV
GlobalOrange B.V.
Integral Knowledge Utilization BV
Skydreams
Sparkles B.V.
Tintel B.V.
TripleMotion Media B.V.
Soulve Innovations B.V.
Delivery Excellence B.V.
RelyOn Nutec Digital B.V.
BeFound Media B.V.

In [6]:
df = df.drop(labels=[0, 1], axis=0)
df = df.where(pd.notnull(df), None)

In [32]:
df

,Unnamed: 0,SharpMinds,Unnamed: 2,HelloFlex,Unnamed: 4,CAOWijzer,Unnamed: 6,MatchQ
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nummer,Naam,Nummer,Naam,Nummer,Naam,Nummer,Naam
2,12556,Actacom Nederland B.V.,110722,@Work Personeelsdiensten B.V.,12152,365Werk,12431,Arto Recruitment B.V.
3,12594,AskAnna B.V.,111481,3S People B.V.,12248,A.W. Personeelsdiensten BV,12578,BC Group B.V.
4,12471,Blauw Belastingen bv,11274,4-Hands Uitzendbureau,12121,A2 Newjob,12334,Building Careers BV
...,...,...,...,...,...,...,...,...
449,NaN,NaN,12667,Q Work B.V.,NaN,NaN,NaN,NaN
450,NaN,NaN,111322,WPN Groep B.V.,NaN,NaN,NaN,NaN
451,NaN,NaN,12716,The Flex Agency B.V.,NaN,NaN,NaN,NaN
452,NaN,NaN,12722,STAN Partnerships B.V.,NaN,NaN,NaN,NaN
453,NaN,NaN,12724,Public Support Services B.V.,NaN,NaN,NaN,NaN

In [5]:
company1 = 'Ecomatters'
company2 = 'Blauw Belastingen bv'

In [6]:
names = [' B.V.', ' BV', ' N.V.', ' NV', ' bv']
def strip_name(string: str) -> str:
    for n in names:
        if n in string:
            return string[:string.index(n)]

In [7]:
strip_name(company2)

'Blauw Belastingen'

In [1]:
with open('Voltooid.txt', 'r+') as file:
    data = file.read().splitlines()

In [2]:
data

['Actacom Nederland',
 'AskAnna',
 'Blauw Belastingen',
 'Blue Donkey Media',
 'BusinessForensics',
 'Ctrl',
 'Ecomatters']

In [65]:
for d in data:
    if d == company1:
        print('found')

found

In [8]:
test = 'Blauw Belastingen bv'

In [9]:
' bv' in test

True